@model IEnumerable<WebApplication1.Business.admission_stud>

@{
    ViewBag.Title = "Index";
}

<h2>Admission</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rollno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contactno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee_rec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rollno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Father)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contactno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee_rec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
