<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><br />
               <span style="font-size:25px;color:white;margin-top:15px">Model College, New Zealand</span>
            </div>
            <div style="margin-top:15px;font-size:20px;">
             <div class="row">
                <div class="col-lg-2">@Html.ActionLink("Admission", "../admission_stud/Index")</div>
                 <div class="col-lg-2">@Html.ActionLink("Course", "../course_p/Index")</div>
                 <div class="col-lg-2">@Html.ActionLink("Annual Fee", "../annual_p/Index")</div>
                 <div class="col-lg-2">@Html.ActionLink("Late Fine", "../fine_p/Index")</div>
                </div> <br /> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
   
    <div class="container">
        <br /><br /><br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>