@model WebApplication1.Business.fine_p

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>fine_p</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rollno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rollno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
